*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 30em;
  padding: 2px;
  background-color: #ccc;
}

#calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  text-align: center;
}

#input-display {
  appearance: none;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: right;
  width: 100%;
}

#input-display:focus {
  border: none;
  outline: none;
}

.calculator-button {
  background-color: #ddd;
  color: #000;
  padding: 1rem;
  appearance: none;
  border: none;
  font-size: 1rem;
  margin: 0;
}

.calculator-button.orange {
  background-color: orange;
}

.button-zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.display {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  background-color: #555;
  color: #fff;
  padding: 1rem 0.5rem;
  margin-bottom: 2px;
}
